.CertificateSectionMain {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    display: flex;
    font-family: JosefinSans-reg;
    line-height: 40px;

    flex-wrap: wrap;
}

.leftSideCertificate {
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(4, 114, 165);
    height: 580px;
    font-size: xx-large;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.leftSideCertificate p {
    width: 80%;
}

.rightSideCertificate {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    background-color: brown;
    overflow: hidden;
    background: url('../../../assets/images/Certificate of completion front-end.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.rightSideCertificate img {
    min-width: 100%;
}