
/*styling freelancing section*/

.FreelanceWebsitesDiv{
    margin-top: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height:450px;
    flex-direction: row;
    justify-content:space-evenly;
    font-family:JosefinSans-reg ;
    /*background-image: linear-gradient(to bottom right,  rgb(56, 14, 66) , rgb(58, 23, 139));*/
    height: fit-content;
}
.FreelanceWebsitesDiv .leftFreelanceArea{
    
    width: 75%;
    min-height: 200px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;

}
.FreeLancingIcons{
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 30px;
    padding-left:250px ;
    padding-right: 250px;

}
.oneIconCont{
    margin-left: 30px;
    margin-right: 30px;
    height: fit-content;
    width: fit-content;

}

.FreeLancingIcons .icon{
    font-size: 50px;
    cursor: pointer;

}


.FreeLancingIcons .icon:hover{
    transform: scale(1.45, 1.45);
    -moz-transform: scale(1.25, 1.25);
    -webkit-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
        
    
}
  .FreelancingAnchorTags{
      width: 150px;
      height: 30px;
      font-family:JosefinSans-reg;
      color: white;
      
      background-color: #072227;
      border-radius: 5px;
      border: none;
      cursor: pointer;
  }
  .FreelancingAnchorTags:hover{
      
    box-shadow: 0px 0px 8px;
    animation: buttonsAnimations1 1s;


  }
  .buttonCont{
      margin-top: 30px;
  }