.InfoSectionMain {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    font-family: JosefinSans-reg ;
    
    background-image:linear-gradient(to bottom , rgb(109, 9, 109), rgb(167, 20, 64)); ;

    
}
 .upper_InfoSection{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: JosefinSans-reg ;

    
}


.lower_InfoSection{
    width: 100%;
    height: fit-content;
}

.infoPanel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    height: fit-content;
    padding: 30px;


}
.panels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    height: fit-content;
    min-height: 500px;
    width: 28%;
    background-image: linear-gradient( to bottom, rgb(167, 23, 102), rgb(236, 19, 121));
    line-height:25px;
    box-shadow: 0px 0px 4px white;
    border-radius: 8px;
}

.panels  img{
    width: 75%;
    
}

.panels .panel_1_imageHolder img{
    width: 85%;
    
}
.imageHolders{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height:150px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.infoPart{
    color: rgb(248, 239, 239);
    font-size: larger;
}