.InfoSectionMain {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: JosefinSans-reg ;
    
    background-image: linear-gradient(to bottom ,rgb(7, 34, 39),rgb(53, 133, 139) );

    
}
 .upper_InfoSection{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: JosefinSans-reg ;

    
}


.lower_InfoSection{
    width: 100%;
    height: fit-content;
}

.infoPanel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    height: fit-content;


}
.panels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    height: fit-content;
    min-height: 500px;
    margin-top: 30px;
    width:300px;
    /* background-image: linear-gradient(to bottom ,rgb(3, 185, 179),rgb(20, 161, 157) ); */
    background-color:rgb(3, 185, 179) ;
    line-height:25px;
    box-shadow: 0px 0px 4px white;
    border-radius: 8px;
}

.panels  img{
    width: 75%;
    
}

.panels .panel_1_imageHolder img{
    width: 85%;
    
}
.imageHolders{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height:150px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.infoPart{
    color: rgb(248, 239, 239);
    font-size: larger;
}