    .mobileDevelopmentSectionMain {
        width: 100%;
        height: fit-content;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
        line-height: 40px;

    }
    
    .leftSideMobile {
        width: 50%;
        color: rgb(255, 255, 255);
        background-color: #294057;
        height: 580px;
        font-size: xx-large;
        font-weight: 300;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    
    .leftSideMobile p {
        width: 80%;
    }
    
    .rightSideMobile {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        height: 580px;
        background-color: #191919;
        overflow: hidden;
        background: url('../../../assets/images/mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .rightSideMobile img {
        min-width: 100%;
    }