*{
    
    font-family: JosefinSans-reg ;
    padding: 0px;
    margin: 0px;

}
body{
    position: absolute;
    overflow-x: hidden;
    width: 100%;
}

@keyframes buttonsAnimations1 {
    0%   { transform: rotate(0deg);}
    25%  {transform: rotate(5deg);}
    50%  {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }