.ProjectsPage{
  /*  background-color: rgb(75, 6, 63);*/
  background-image: linear-gradient(to bottom ,rgb(7, 34, 39),rgb(53, 133, 139) );
  min-height: 100%;
    width: 100%;
    z-index: -1;
    font-family: JosefinSans-reg ;
}
.TitleArea{
    background-color: rgb(7, 34, 39);
    font-size: 55px;
    color: white;
    width:100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}
.projectsArea{
    padding: 60px;
    min-height: 400px;
}
.projectsAreaDown{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}